html { 
	background: url("../images/mrpostman.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
 /* -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 0;*/
}

body {
	font-family: 'Lakki Reddy', cursive;
 	background: transparent; 
 }

img {
	width: 100%;
	border: 30px solid red;
	margin-top: 10px;
	float:center;
}
/*button {
	font-weight:bold;
}*/

/*#character-select, #challengers {
	margin-top: 70px;
}*/

#action {
	margin-top: 200px;
	float:relative;
}

/*#deck img{
	width: 120%;
	float:left;
}*/

#character-row-1 {
	height: 50px;
}

#character-select img {
	width: 100%;
	/*margin: 10px 0;*/
}
#character-select, #challengers {
	margin-top: 70px;
}

#challengers img{
	width: 50%;
	/*margin: 10px 0;*/
}

#challengers{
	/*text-align: right;*/
}

nav {
	z-index: 1;
	opacity: .3;
}

h1 {
	font-size: 30px;
	color: white;
	text-align: center;}
h2 {
	font-size: 90px;
	color: blue;
	font-weight:bold;
	text-align: center;
}
/*#title {
}*/

#text-area {
	height: 600px;
	width: 1000px;
	font-size: 80px;
	color: red;
	background-color: white;
	opacity: .8;
	border: 20px solid red;
	/*margin-top: 40px;*/
	margin: 50px 0 0 100px;
}

#text-area hr {
	margin: 200px 0;
}

/*.character {
position: relative;
	height: 140px;
}
.character img {
	position:absolute;
	width: 100%;
}*/

.character .name {
	font-size: 40px;
	color: white;
	position: relative;
	top: 15px;
	
}

.character .hp {	
	font-size: 25px;
	font-weight:bold;
	color: white;
	position: relative;
	top: 25px;
	margin: -20px 0;	
}

#character-select2 {
	margin-right: 225px;
}

#action {
	/*margin-left: 10px;*/
}