html { 
	background: url("../images/burner.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 0;
}

body {
	font-family: 'Lakki Reddy', cursive;
 	background: transparent; }


img {
	width: 100%;
	border: 20px solid purple;
	border-radius: 10%;
	margin-top: 10px;
	float:center;
}

#character-select, #challengers  {
	margin-top: 70px;
}


#deck {
	margin-top: 200px;
	float:relative;

}

#character-row-1 {
	height: 50px;
}


#character-select img {
	width: 25%;
}


#challengers img{
	width: 50%;

}

#challengers{
	/*text-align: right;*/
}

nav {
	z-index: 1;
	opacity: .3;
}

#title {
}

#text-area {
	height: 600px;
	width: 1000px;
	font-size: 40px;
	background-color: white;
	opacity: .5;
	border: 10px solid purple;
	border-radius: 20%;
	margin-top: 250px;
}

#text-area hr {
	margin: 200px 0;
}


.character {


}

.character .name {
	font-size: 40px;
	color: white;
	position: relative;
	top: 20px;
	
}

.character .hp {	
	font-size: 25px;
	color: white;
	position: relative;
	top: 200px;
	margin: -15px 0;
	

}