html { 
	background: url("../images/mrpostman.jpg");
  -webkit-background-size: cover;
}

body {
	font-family: 'Lakki Reddy', cursive;
 	background: transparent; 
 }

img {
	width: 100%;
	border: 30px solid red;
	margin-top: 10px;
	float:center;
}

#action {
	margin-top: 200px;
	float:relative;
}

#character-row-1 {
	height: 50px;
}

#character-select img {
	width: 100%;
}
#character-select, #challengers {
	margin-top: 70px;
}

#challengers img{
	width: 50%;
}

/*#challengers{
}*/

nav {
	z-index: 1;
	opacity: .3;
}

h1 {
	font-size: 30px;
	color: white;
	text-align: center;
}

h2 {
	font-size: 90px;
	color: red;
	font-weight:bold;
	text-align: center;
}

#action-area {
	height: 600px;
	width: 1000px;
	font-size: 80px;
	color: red;
	background-color: white;
	opacity: .8;
	border: 20px solid blue;
	margin: 50px 0 0 100px;
}

#action-area hr {
	margin: 200px 0;
}

.character .name {
	font-size: 40px;
	color: white;
	position: relative;
	top: 15px;
}

.character .hp {	
	font-size: 25px;
	font-weight:bold;
	color: blue;
	position: relative;
	top: 25px;
	margin: -20px 0;	
}

#character-select2 {
	margin-right: 225px;
}

/*#action {
}